---
interface Props {
  title: string;
  href?: string;
}

const { title, href } = Astro.props;
---

{
  href ? (
    <a href={href}>
      <article>
        <h3>{title}</h3>
        <slot />
      </article>
    </a>
  ) : (
    <article>
      <h3>{title}</h3>
      <slot />
    </article>
  )
}
